// Section About

.about {
  background-color: $colorFog;
  overflow: hidden;

  &-wrapper {
    padding-top: 7.5vw;
  }

  &__header {
    font-size: 10vw;
    font-weight: 700;
    line-height: 13vw;
    color: $colorViolet;
    padding-bottom: 9vw;
  }

  &-list {

    &-item {
      padding-bottom: 11vw;

      &__image {
        padding-bottom: 7vw;
      }

      &__header {
        font-size: 5vw;
        padding-bottom: 4vw;
      }

      &__text {
        font-family: $latoFont;
        font-size: 4.5vw;
        line-height: 6vw;
        color: $colorLightGrey;
      }
    }
  }

  &-editor {
    height: 108vw;
  }

  &-editor > img {
    height: 100%;
  }
}
