// Section Overview

.overview {
  padding-top: 35vw;
  padding-bottom: 25vw;

  &__title {
    font-size: 8vw;
    line-height: 14vw;
    font-weight: 700;
    color: $colorDarkViolet;
  }

  &__subtitle {
    font-family: $latoFont;
    font-size: 4.4vw;
    line-height: 6vw;
    color: $colorDarkGrey;
    margin-bottom: 8vw;
  }

  &__pair-buttons {
    font-weight: 700;
    display: inline-block;
    padding: 8px 2px;
  }

  &__btn {
    font-size: 12px;
    line-height: 22px;
    padding: 6px 10px;
    color: black;

    &--btn-left {
      border: 1px solid darkgrey;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      background: linear-gradient(#fcfcfc, #ddd);
    }

    &--btn-right {
      border: 1px solid darkgrey;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-left: none;
    }
  }

  &__btn > svg {
    vertical-align: text-bottom;
  }
}
