// Section Testimonials


.testimon {
  padding: 61px 30px 44px 30px;
  background-image: url("../img/bg-testimonials-small.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__title {
    margin-bottom: 44px;
    font-size: 36px;
    font-family: $montserratFont;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
  }
  &__info {
    display: none;
  }
  &__line {
    margin-top: 15px;
    width: 100%;
    height: 2px;
    background-color: #645766;
  }
}

.testimonial {
  margin-bottom: 45px;
  width: 100%;
  &__img {
    margin: 0 auto 30px;
    display: block;
    width: auto;
    height: auto;
  }
  &__text {
    font-size: 16px;
    font-family: $latoFont;
    font-weight: 700;
    font-style: italic;
    color: #ffffff;
    line-height: 24px;
    text-align: center;
  }
}


