// Media Header

@media screen and (min-width: $smallWidth) {
  .navbar {
    padding-top: 22px;
    height: 118px;
    align-items: flex-start;
    &__logotype--name {
      margin-left: 17px;
      display: block;
      font-size: 24px;
      font-family: $latoFont;
      font-weight: 700;
      color: $colorViolet;
      text-transform: uppercase;
    }
    &__menu {
      width: 70vw;
      display: flex;
      justify-content: space-between;
      left: 15vw;
      top: 83px;
      opacity: 1;
      &--item {
        padding: 0;
        height: 16px;
        width: auto;
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        background-color: transparent;
        border: none;
        & a {
          color: $colorViolet;
          &:hover {
            color: #ffffff;
          }
        }
        &:hover::before {
          display: none;
        }
      }
    }
    &__btn {
      font-size: 16px;
      padding: 12px 35px;
    }
  }

  .burger {
    display: none;
  }

  .next-line {
    display: none;
  }

  .header {
    &__main {
      padding-top: 50px;
      height: 682px;
      background: url("../img/bg-laptop-medium.png") 50% no-repeat;
      background-size: cover;
    }
    &__title {
      font-size: 72px;
    }
    &__subtitle {
      font-size: 24px;
    }

    &__download {
      bottom: -65px;
      &--btn {
        margin-bottom: 19px;
        padding: 23px 62px;
        font-size: 21px;
        border-radius: 45px;
      }
    }
  }
}

@media screen and (min-width: $mediumWidth) {
  .navbar {
    padding: 30px 90px;
    align-items: center;
    &__menu {
      width: 40%;
      top: 52px;
      left: 34vw;
    }
  }

  .header {
    &__main {
      padding-top: 60px;
      height: 700px;
      background: url("../img/bg-laptop-big.png") 50% no-repeat;
      background-size: cover;
    }
    &__title {
      font-size: 82px;
    }
    &__subtitle {
      font-size: 30px;
    }
  }
}



