// Media Testimon

@media screen and (min-width: $smallWidth) {
  .testimon {
    padding: 80px 18px 16px 18px;
    background-image: url("../img/bg-testimonials-medium.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__title {
      margin-bottom: 46px;
      font-size: 40px;
    }
    &__box {
      justify-content: space-between;
      align-items: baseline;
    }
    &__info {
      display: block;
      opacity: 0.8;
      color: #a291a5;
      font-size: 14px;
      font-family: $latoFont;
      font-weight: 400;
      text-align: center;
      line-height: 21px;
    }
  }

  .testimonial {
    width: 45%;
  }
}

@media screen and (min-width: $mediumWidth) {
  .testimon {
    padding: 95px;
    background-image: url("../img/bg-testimonials-big.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    &__title {
      margin-bottom: 92px;
      font-size: 48px;
    }
    &__info {
      margin: 0 auto;
      width: 70%;
    }
  }

  .testimonial {
    width: 30%;
  }
}