// Media Features

@media screen and (min-width: $smallWidth) {
  .about {

    &-wrapper {
      padding-top: 7.5vw;
    }

    &__header {
      font-size: 5.5vw;
      line-height: 5.5vw;
      padding-bottom: 7.5vw;
    }

    &-list {

      &-item {
        display: flex;
        padding-bottom: 7.3vw;

        &__article {
          width: 80%;
          text-align: left;
        }

        &__image {
          width: 30%;
          text-align: center;
          padding-bottom: 0;
        }
        &__image > img {
          height: 100%;
        }

        &__header {
          font-size: 2.1vw;
          padding-bottom: 2vw;
        }

        &__text {
          font-size: 1.9vw;
          line-height: 2.7vw;
        }
      }
    }

    &-editor {
      height: 67vw;
    }
  }

}

@media screen and (min-width: $mediumWidth) {
  .about {

    &-wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 710px;
      padding-top: 78px;
    }

    &__header {
      order: 2;
      width: 60%;
      font-size: 42px;
      line-height: 32px;
      text-align: left;
      padding-left: 20px;
      padding-bottom: 40px;
    }

    &-list {
      order: 1;
      width: 45%;

      &-item {
        display: flex;
        padding-bottom: 28px;

        &__article {
          width: 70%;
          text-align: left;
        }

        &__image {
          width: 20%;
          text-align: center;
          padding-bottom: 0;
          margin-right: 32px;
        }

        &__image > img {
          height: auto;
          width: auto;
        }

        &__header {
          font-size: 16px;
          padding-bottom: 14px;
        }

        &__text {
          font-size: 14px;
          line-height: 21px;
        }
      }
    }

    &-editor {
      order: 3;
      height: 488px;
    }
  }

}
